<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>参数配置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="../static/css/data_000.css"  media="all"> 

  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  
</head>
<body>

<div class="if_edit"> 
	<ul class="ul_head">
	   <li>
			<font>是否开启</font>
			<input type="checkbox" name="switch_status" lay-skin="switch" lay-text="ON|OFF">
			<i id="dxqm" class="layui-icon layui-icon-help" style="font-size: 17px; color: #0a6ae6e3;"></i>
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="Save_node" class="layui-icon layui-icon-ok" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="shut_down" class="layui-icon layui-icon-close" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	</ul>
	<div class="Judgment_Pool">
	</div>
	<div class="Judgment_from">
		<ul class="ul_head" style="width:896px">
		   <li>
				<button id="site_add" type="button" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
			</li>
		   <li style="float: right;cursor:pointer;">
				<button id="from_Reset" type="button" class="layui-btn layui-btn-primary layui-btn-sm">
					<font>重置</font>
				</button>
		   </li>
		   <li style="float: right;cursor:pointer;">
				<button id="save" type="button" class="layui-btn layui-btn-primary layui-btn-sm">
					<font>保存</font>
				</button>
			</li>
		</ul>
		<hr>
		<form class="layui-form" action="" id="from_pd">
			<div class="layui-form-item">
				<label class="layui-form-label">名称</label>
				<div class="layui-input-block">
				   <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
				</div>
			</div>
			<div class="from-overflow">			 
			</div>
		</form>
	</div>
</div>


</body>

<script src="../static/ace-builds-master/ace-builds-master/src/ace.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="../static/layui-v2.6.8/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/data_000.js" charset="utf-8"></script>
<script src="../static/js/Effectiveness.js" charset="utf-8"></script>

</body>
</html>


