<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>元素定位节点</title>
  <link rel="stylesheet" href="../static/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="../static/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js"  media="all">
  <link rel="stylesheet" href="../static/css/ui_test.css">
  <link rel="stylesheet" href="../static/css/position_000.css"  media="all"> 

</head>
<body>
<input id="positionid" style="display: none;" value="null">
<div class="sql_edit">
	<ul class="ul_head">
	   <li>
			<i class="layui-icon layui-icon-edit" style="font-size: 24px; color: #0a6ae6e3;"></i>  
		</li>
	   <li>
			<div style="float: left;" id="myP" class="Workflow_name_input" contenteditable="false" >
				元素定位节点名称
			</div>
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="Save_node" class="layui-icon layui-icon-ok" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="shut_down" class="layui-icon layui-icon-close" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	</ul>
	<div style="display:flex;">
		<div style="border: 1px solid #eee;padding:20px;width:186px;overflow-y:auto;height:585px;">
			<ul id="sortable">

			</ul>
		</div>
		<div style="border: 1px solid #eee;margin-left:10px;width:700px;">
			<ul class="ul_head" style="width:695px;margin-top: 10px;">
			   <li style="margin-left: 4px;">
					<button id="xpath_add" type="button" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
				</li>
			   <li style="float: right;cursor:pointer;">
					<button id="save" type="button" class="layui-btn layui-btn-primary layui-btn-sm">
						<font style="line-height: 30px;">保存</font>
					</button>
				</li>
			</ul>
			<hr>
			<form class="layui-form" action="" lay-filter="feil">
			  <div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div id="add_path" class="layui-form" action="" style="padding:20px;margin-left: -27px;height:519px;overflow-y:auto;" lay-filter="example_dw">
						  {% csrf_token %}
						  <div class="layui-form-item">
							<label class="layui-form-label">定位名称</label>
							<div class="layui-input-block">
							  <input type="text" name="path_name" lay-verify="title" autocomplete="off" placeholder="定位名称" lay-reqtext="岂能为空？" class="layui-input">
							</div>
						  </div>
						  <div class="layui-form-item">
							<label class="layui-form-label">等待时间</label>
							<div class="layui-input-block">
							  <input type="text" value="1" name="sleep_time" lay-verify="title" autocomplete="off" placeholder="等待时间默认为秒" lay-reqtext="岂能为空？" class="layui-input">
							</div>
						  </div>
						<label class="layui-form-label">操作方式</label>
							<div class="layui-input-block"  lay-reqtext="岂能为空？">
							  <select name="Positioning" lay-filter="aihao">
								<option value="0" selected="">querySelector</option>
								<option value="8">js 注入</option>
								<option value="10">鼠标拖动</option>
								<option value="11">python脚本</option>
								<option value="12">打开url</option>
								<option value="13">关闭</option>
							  </select>
							</div>
							<div id='from_Interactive_1'>
								<div class="layui-form-item" style="margin-top: 15px;">
									<label class="layui-form-label">元素操作</label>
									<div class="layui-input-block">
									  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入元素" lay-reqtext="岂能为空？" class="layui-input">
									</div>
								</div>
								<label class="layui-form-label">操作方式</label>
								<div class="layui-input-block"  lay-reqtext="岂能为空？">
								  <select name="interest" lay-filter="companyList">
									<option value="0" selected="">左键点击</option>
									<option value="2">输入内容</option>
									<option value="3">获取div内容</option>
									<option value="5">双击</option>
									<option value="6">长按</option>
									<option value="9">获取坐标</option>	
								  </select>
								</div>
								<div id="from_Interactive_2">

								</div>
							</div>
					</div>
				</div>
			  </div>
			</form>
		</div>
	</div>
</div>


<div style="display:none" id="test" >
	<form id="addGoodsForm" class="layui-form" action="" style="padding:20px;" lay-filter="example">
		  <div class="layui-form-item" style="margin:0px;">
			<div class="layui-input-block" style="margin-left:0px;">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入出参名称" class="layui-input">
			</div>
		   </div>
		  <div class="layui-form-item"  style="margin:0px;">
			  <div class="layui-input-block" style="margin-left:0px;">
				  <input type="radio" name="sex" value="JsonPath" title="JsonPath" checked="">
				  <input type="radio" name="sex" value="re" title="正则">
			  </div>
		  </div>
		  <div class="layui-form-item layui-form-text" style="margin-top:10px;">
			  <div class="layui-input-block" style="margin:0px 4px 0px -4px;">
				  <textarea placeholder="请输入内容" class="layui-textarea"  name="desc"></textarea>
			  </div>
		  </div>
	</from>
</div>
{% include "Variable.html" %}
<script src="../static/ace-builds-master/ace-builds-master/src/ace.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="../static/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js" charset="utf-8"></script>
<script src="../static/layui-v2.6.8/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/Effectiveness.js" charset="utf-8"></script>
<script src="../static/js/position_000.js" charset="utf-8"></script>


</body>
</html>