<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>合并</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="../static/css/variable.css"  media="all">
  <link rel="stylesheet" href="../static/css/rpa_000.css"  media="all">
</head>
<body>
<div class="ui_edit">
	<ul class="ul_head">
	   <li>
			<i class="layui-icon layui-icon-edit" style="font-size: 24px; color: #0a6ae6e3;"></i>  
		</li>
	   <li>
			<div style="float: left;" id="myP" class="Workflow_name_input" contenteditable="false" >
				脚本录制节点名称
			</div>
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="Save_node" class="layui-icon layui-icon-ok" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="shut_down" class="layui-icon layui-icon-close" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	</ul>
	  <div class="layui-tab">
		<ul class="layui-tab-title">
		  <li class="layui-this">录制脚本</li>
		  <li>编辑脚本</li>
		</ul>
		<div class="layui-tab-content">
		  <div class="layui-tab-item layui-show">
			<form class="layui-form" action="">
				<div class="layui-form-item layui-form-text">
					<div class="layui-input-block">
					  <textarea name="http_url" placeholder="请输入url" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
					  <div class="layui-input-inline" style="width:354px;">
						<input name="file_name" type="text" placeholder="请输入文件名" autocomplete="off" class="layui-input">
					  </div>
					</div>
					<div class="layui-inline" style="margin-right: 0px;">
						<button type="button" class="layui-btn layui-btn-normal" id="recording">录制</button>
					</div>
				</div>
			</form>
		  </div>
		  <div class="layui-tab-item">
			 <div class="list-div" style="width:422px;height:200px;">
				<div id="editor" style="min-height:200px;border: 1px solid #ddd;"></div>
			 </div>
			 <button type="button" class="layui-btn layui-btn-normal" id="rpa_test">测试</button>
		  </div>
		</div>
	  </div>
</div>
<div style="display:none" id="test" >
	<form id="addGoodsForm" class="layui-form" action="" style="padding:20px;" lay-filter="example">
		  <div class="layui-form-item" style="margin:0px;">
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入出参名称" class="layui-input">
			</div>
		   </div>
		  <div class="layui-form-item"  style="margin:0px;">
			  <div class="layui-input-block">
				  <input type="radio" name="sex" value="JsonPath" title="JsonPath" checked="">
				  <input type="radio" name="sex" value="re" title="正则">
			  </div>
		  </div>
		  <div class="layui-form-item layui-form-text" style="margin-top:10px;">
			  <div class="layui-input-block" style="margin:0px 4px 0px -4px;">
				  <textarea placeholder="请输入内容" class="layui-textarea"  name="desc"></textarea>
			  </div>
		  </div>
	</from>
</div>

{% include "Variable.html" %}



</body>
<script src="../static/ace-builds-master/ace-builds-master/src/ace.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="../static/layui-v2.6.8/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/variable.js" charset="utf-8"></script>
<script src="../static/js/rpa_000.js" charset="utf-8"></script>
<script src="../static/js/Effectiveness.js" charset="utf-8"></script>

</body>
</html>




