{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Strategy</title>
  <link rel="stylesheet" href="../static/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css"  media="all">
  <link rel="stylesheet" type="text/css" href="../static/icon/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../static/jQuery-contextMenu-master/jQuery-contextMenu-master/dist/jquery.contextMenu.css">
  <style>

    
    /* body{
      <!-- padding:20px 50px 20px 50px; -->
    } */
    
    .Ambiguity{
        box-shadow: 2px 2px 9px #888888
    }
    
</style>
</head>
<body>
    <div>
        1234
    </div>

</body>

<script src="../static/layui-v2.6.8/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-3.3.1.js" charset="utf-8"></script>
<script src="../static/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/jsPlumb/1.7.6/jquery.jsPlumb.min.js"></script>
<script src="../static/icon/font/iconfont.js"></script>
<script src="../static/jQuery-contextMenu-master/jQuery-contextMenu-master/dist/jquery.contextMenu.js"></script>
<script src="../static/jQuery-contextMenu-master/jQuery-contextMenu-master/dist/jquery.ui.position.js"></script>

</body>
</html>

