<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>新页面</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="../static/css/url_000.css"  media="all"> 

  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style>

  </style>
</head>
<body>


<div class="url_edit">
	<ul class="ul_head">
	   <li>
			<i class="layui-icon layui-icon-edit" style="font-size: 24px; color: #0a6ae6e3;"></i>  
		</li>
	   <li>
			<div style="float: left;" id="myP" class="Workflow_name_input" contenteditable="false" >
				api节点
			</div>
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="save" class="layui-icon layui-icon-ok" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="shut_down" class="layui-icon layui-icon-close" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	</ul>
	<div style="width:936px">
	<form class="layui-form" action="">
	  <div class="layui-form-item">
		<div class="layui-inline">
		  <div class="layui-input-inline" style="width:120px;">
			<select name="modules" lay-verify="required" lay-search="">
			  <option value="post">post</option>
			  <option value="get">get</option>
			  <option value="put">put</option>
			  <option value="patch">patch</option>
			  <option value="delete">delete</option>
			  <option value="head">head</option>
			</select>
		  </div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-block" style="width:730px;margin-left:0px;">
			  <input type="text" id="url" name="title" lay-verify="title" autocomplete="off" placeholder="请输入url" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
				<button id="verification" type="button" class="layui-btn layui-btn-normal">验证</button>
		</div>
	  </div>
	</form>
	<div style="margin-top:10px;padding:10px;">
		<span class="layui-breadcrumb" lay-separator="|">
		  <a class="a_tab" href="javascript:tab_status(1);">
			  <font style="color:#1E9FFF">请求参数</font>
		  </a>
		  <a class="a_tab" href="javascript:tab_status(2);">
			  <font>请求头</font>
		  </a>
		</span>
	</div>
	<div class="layui-tab-content" id="url_body" >
		<div class="layui-tab-item layui-show">
		<div class="layui-tab" style="margin:0px;">
			  <ul class="layui-tab-title">
				<li class="layui-this body_tap" data-status="body_table">
					<i class="layui-icon layui-icon-radio" style="font-size: 15px; color: #1E9FFF;"></i>  
					<font style="margin-top:-2px;">form-data</font>
				</li>
				<li  class="body_tap" data-status="body_json">
					<i class="layui-icon layui-icon-circle" style="font-size: 14px; color: #1E9FFF;"></i>
					<font style="margin-top:-2px;">json</font>
				</li>
			  </ul>
			  <div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					 <div class="list-div">
						<table border="1" id="body">
							<tr>
								<th></th>
								<th>key</th>
								<th>value</th>
								<th>DESCRIPTION</th>
							</tr>
							<tr class="addchar">
								<td>
									<input class=".dx" style="margin:10px" type="checkbox" name="age" value="18" checked="checked" />
								</td>
								<td width="300px" height="100px" style="position: relative;" >
									<div style="z-index: 2;" class='tex' contenteditable placeholder='请输入文字'></div>
									<div style="position: absolute;z-index: 3;"  class="tab_value">
										<div style="margin-top: -9px;cursor:pointer;">
											<font style="font-size:15px;color:#a1a8ad;">Text</font>
											<i class="layui-icon layui-icon-down" style="color: #a1a8ad;font-size:15px;float: right;margin-left: 3px;"></i>
										</div>
									</div>
									<div class="F_T">
										<div>
											<font style="font-size:15px;color:#a1a8ad;">Text</font>
										</div>
										<div>
											<font style="font-size:15px;color:#a1a8ad;">File</font>
										</div>
									</div>
								</td>
								<td width="300px" height="100px"><div class='tex' contenteditable placeholder='请输入文字'></div></td>
								<td width="300px" height="100px" style="position: relative;"><div class='tex' contenteditable placeholder='请输入文字'></div>
									<i id="del" class="layui-icon layui-icon-close" style="color: #a1a8ad;position: absolute;"></i>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="layui-tab-item" style="padding: 0px 10px 0px 10px;margin: 10px 0px -10px 0px;">
					<div class="list-div" style="width:917px;height:340px;">
						<div id="editor" style="min-height:300px;border: 1px solid #ddd;"></div>
					</div>
				</div>
			  </div>
			</div>
		</div>
	  </div>
		<div id="url_head" style="display:none">
			<div class="layui-tab-item layui-show">
				<div class="layui-tab" style="margin:0px;">
				  <ul class="layui-tab-title">
					<li class="layui-this head_tap" data-status="head_table">
						<i class="layui-icon layui-icon-radio" style="font-size: 15px; color: #1E9FFF;"></i>  
						<font style="margin-top:-2px;">key-value</font>
					</li>
					<li class="head_tap" data-status="head_json">
						<i class="layui-icon layui-icon-circle" style="font-size: 14px; color: #1E9FFF;"></i>
						<font style="margin-top:-2px;">json</font>
					</li>
				  </ul>
				  <div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						 <div class="list-div">
							<table border="1" id="head">
								<tr>
									<th></th>
									<th>key</th>
									<th>value</th>
									<th>DESCRIPTION</th>
								</tr>
								<tr class="addchar">
									<td>
										<input class=".dx" style="margin:10px" type="checkbox" name="age" value="18" checked="checked" />
									</td>
									<td width="300px" height="100px"><div class='tex' contenteditable placeholder='请输入文字'>Content-Type</div></td>
									<td width="300px" height="100px"><div class='tex' contenteditable placeholder='请输入文字'>application/json</div></td>
									<td width="300px" height="100px" style="position: relative;"><div class='tex' contenteditable placeholder='请输入文字'></div>
										<i id="del" class="layui-icon layui-icon-close" style="color: #a1a8ad;position: absolute;"></i>
									</td>
								</tr>
								<tr class="addchar">
									<td>
										<input class=".dx" style="margin:10px" type="checkbox" name="age" value="18" checked="checked" />
									</td>
									<td width="300px" height="100px"><div class='tex' contenteditable placeholder='请输入文字'></div></td>
									<td width="300px" height="100px"><div class='tex' contenteditable placeholder='请输入文字'></div></td>
									<td width="300px" height="100px" style="position: relative;"><div class='tex' contenteditable placeholder='请输入文字'></div>
										<i id="del" class="layui-icon layui-icon-close" style="color: #a1a8ad;position: absolute;"></i>
									</td>
								</tr>
							</table>
						</div>
					</div>
						<div class="layui-tab-item" style="padding: 0px 10px 0px 10px;margin: 10px 0px -10px 0px;">
							<div class="list-div" style="width:917px;">
								<div id="editor_h" style="min-height:300px;border: 1px solid #ddd;"></div>
							</div>
						</div>
				  </div>
				</div>
			</div>
		</div>	 	  
	<div class="Log"> 
		<div class="Top_border">
			<div style="height:25px"></div>
		</div>
		<div style="overflow:hidden;height:45px;margin-top: 15px;">
			<div id="Log_editor" style="height:280.5px;border: 1px solid #ddd;"></div>
		</div>
	</div>
	<div class="mc" style="display:none;"></div>
</div>
{% include "Variable.html" %}
<script src="../static/ace-builds-master/ace-builds-master/src/ace.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="../static/layui-v2.6.8/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/url_000.js" charset="utf-8"></script>
<script src="../static/js/Effectiveness.js" charset="utf-8"></script>

</body>
</html>



